@model Etkezde.Models.OrderItemViewModel

@{
    ViewData["Title"] = "Etkezde";
    Layout = "_Layout";
}

<div class="text-center">
        
    <div class="container pt-3">
        <div class="row">
            <div class="col-3">
                @if(string.IsNullOrEmpty(Model.EmployeeName))                        
                {
                    <div class="alert alert-danger">
                        Add meg a dolgozo azonositojat!
                    </div>
                }                    
            </div>
            <div class="col-3">
                @if(!string.IsNullOrEmpty(Model.EmployeeName))
                {
                    <div class="alert alert-primary">
                        Add meg a termeket es a mennyiseget!
                    </div>
                }
            </div>
            <div class="col-3">
                    <div class="alert alert-info">
                        Rendeles modositasa
                    </div>                    
            </div>
            <div class="col-3">
                    <div class="alert alert-info">
                        Termek torlese
                    </div>                    
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <form method="POST" asp-controller="Home" asp-action="SetId">
                            <strong><label asp-for="EmployeeId">Dolgozo azonosito</label></strong>
                            <input asp-for="EmployeeId" name="empid" data-val="true" data-val-required="Kotelezo mezo!" data-val-regex="Helytelen azonosito!" data-val-regex-pattern="\b([1-9]|[1-9][0-9])\b" value="@Model.EmployeeName" class="form-control" />
                            <span class="field-validation-valid" data-valmsg-for="empid" data-valmsg-replace="true"></span>
                            <button class ="btn btn-primary" type="submit">Kivalaszt</button>
                    </form>
                </div>
            </div>
        
            <div class="col-3">
                <div class="form-group">
                    <!--
                    @using (Html.BeginForm("OnPostOrderItems", "Home"))
                    {
                        @Html.AntiForgeryToken();
                        <strong>
                            @Html.LabelFor(m => m.ItemName)                        
                        </strong>
                        @Html.TextBoxFor(m => m.ItemName, null, new { @class="form-control"})

                        <strong>
                            @Html.LabelFor(m => m.Quantity)
                        </strong>
                        @Html.TextBoxFor(m => m.Quantity, null, new { @size="2"})                        
                        <button class ="btn btn-primary" type="submit">Bevitel</button>
                        <br />
                        @Html.ValidationMessageFor(m => m.ItemName)
                        <br />
                        @Html.ValidationMessageFor(m => m.Quantity)
                    }
                     -->
                     <form method="POST" data-ajax="true" data-ajax-url="/Home/OnPostOrderItems" data-ajax-update="#basket">
                        <strong><label asp-for="ItemName">Termek</label></strong>
                        <input asp-for="ItemName" class="form-control"/>
                        <strong><label asp-for="Quantity">Darab</label></strong>
                        <input asp-for="Quantity" value="" size="2" />                        
                        <button class ="btn btn-primary" type="submit" >Bevitel</button>
                        <p><span asp-validation-for="ItemName" class="text-danger"></span>
                        <span asp-validation-for="Quantity" class="text-danger"></span></p>
                    </form>   
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <!--
                    @using (Html.BeginForm("OnPostModifyItem", "Home"))
                    {
                        @Html.AntiForgeryToken();
                        <strong>
                            @Html.LabelFor(m => m.ItemName)                        
                        </strong>
                        @Html.TextBoxFor(m => m.ItemName, null, new { @class="form-control"})

                        <strong>
                            @Html.LabelFor(m => m.Quantity)
                        </strong>
                        @Html.TextBoxFor(m => m.Quantity, null, new { @size="2"})   

                        <button class ="btn btn-primary" type="submit">Csokkent</button>
                        <br />
                        @Html.ValidationMessageFor(m => m.ItemName)
                        <br />
                        @Html.ValidationMessageFor(m => m.Quantity)
                    }
                    -->
                     
                    <form method="POST" data-ajax="true" data-ajax-url="/Home/OnPostModifyItem" data-ajax-update="#basket">
                        <strong><label asp-for="ItemName">Termek</label></strong>
                        <input asp-for="ItemName" class="form-control" />
                        <strong><label asp-for="Quantity">Darab</label></strong>
                        <input asp-for="Quantity" value="" size="2" />                        
                        <button class ="btn btn-primary" type="submit">Csokkent</button>
                        <span asp-validation-for="ItemName" class="text-danger"></span><br/>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </form> 
                    
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <!--
                    @using (Html.BeginForm("OnPostDeleteItem", "Home"))
                    {
                        @Html.AntiForgeryToken();
                        <strong>
                            @Html.LabelFor(m => m.ItemName)                        
                        </strong>
                        @Html.TextBoxFor(m => m.ItemName, null, new { @class="form-control"})

                        <button class ="btn btn-primary" type="submit">Torles</button>
                        <br />
                        @Html.ValidationMessageFor(m => m.ItemName)
                    }
                    -->
                    <form method="POST" data-ajax="true" data-ajax-url="/Home/OnPostDeleteItem" data-ajax-update="#basket">
                        <strong><label asp-for="ItemName">Termek</label></strong>
                        <input asp-for="ItemName" class="form-control"/>
                        <span asp-validation-for="ItemName" class="text-danger"></span>
                        <button class ="btn btn-primary" type="submit">Torles</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="container">
                    <h3>Menu</h3>
                    <table class="table table-condensed" style="table-layout: fixed; width: 100%;">
                        <thead>
                            <tr>
                                <th>Termek</th>
                                <th>Ar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(ViewBag.Menu != null)                           
                                foreach (KeyValuePair<string, int> item in ViewBag.Menu)
                                {
                                    <tr>
                                        <td>@item.Key</td>
                                        <td>@item.Value</td>
                                    </tr>
                                }                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-5">
                <h3>Rendeles</h3>
                <div id="basket" class="container"></div>                     
            </div>
        </div>
    </div>
</div>
